* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-transform: capitalize; */
    /* color: #fff; */
}

#main {
    padding: 40px;
    position: relative;

}

input {
    display: block;
    height: 25px;
    width: 250px;
}


.card {
    height: 200px;
    width: 320px;
    background-color: #666;
    border-radius: 20px;
    margin-top: 100px;
    padding: 20px;
    top: 10%;
    left: 50%;
    color: #fff;
    text-transform: capitalize;


}

.profile {
    height: 60px;
    width: 60px;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
}

h2 {
    margin-top: 7px;
}

h3 {
    margin-top: 5px;
}

img {
    height: 60px;
    width: 60px;
    object-fit: cover;
}